body {
  background-color: #1a2229 !important; 
  background-image: 
    linear-gradient(rgba(255,255,255,.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.07) 1px, transparent 1px);
  background-size: 30px 30px;
}
